<h1>Editing recebivel</h1>

<%= render "form", recebivel: @recebivel %>

<br>

<div>
  <%= link_to "Show this recebivel", @recebivel %> |
  <%= link_to "Back to recebiveis", recebiveis_path %>
</div>
