<h1>Editing transferencia</h1>

<%= render "form", transferencia: @transferencia %>

<br>

<div>
  <%= link_to "Show this transferencia", @transferencia %> |
  <%= link_to "Back to transferencias", transferencias_path %>
</div>
