<div id="<%= dom_id conta %>">
  <p>
    <strong>Descricao:</strong>
    <%= conta.descricao %>
  </p>

  <p>
    <strong>Valor inicial:</strong>
    <%= format_curr(conta.valor_inicial) %>
  </p>

</div>
