<h1>Editing pagamento</h1>

<%= render "form", pagamento: @pagamento %>

<br>

<div>
  <%= link_to "Show this pagamento", @pagamento %> |
  <%= link_to "Back to pagamentos", pagamentos_path %>
</div>
